*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #a517ba,#5f1782 );
    padding: 0 !important;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars
{
    color:#fff;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important;
}

/*------------banner section---------------*/
#banner
{
   background-image: linear-gradient(to right, #a517ba,#5f1782);
    color:#fff;
    padding-top: 0%;
}
.promo-title
{
    font-size: 50px;
    font-weight: 300;
    margin-top: 100px;
}
.bottom-img
{
    width: 100%;
}

/*----------layanan-----------*/
#service
{
    padding: 80px 0;
}
.service-img
{
    width: 100px;
    margin-top: 20px;
}
.services
{
    padding: 20px ;
}
.services h4
{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before
{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after
{
    content: '';
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
/*---------kasus----------*/
#cases
{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.cases-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

/*--------data-------------*/
#data
{
    padding: 80px 0;
}
.data-img
{
    width: 50 0px;
    margin-top: 20px;
}

/*---------penanggulangan-----*/
#solve
{
    padding: 80px 0;
}
.solve-img
{
    width: 100px;
    margin-top: 20px;
}
.solve
{
    padding: 20px ;
}
.solve h4
{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before
{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after
{
    content: '';
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}